.blog-post-heading{
    padding: 45px 0 0 45px;
}

.blog-post-title{
    font-family: 'Montserrat', serif;
    font-weight: 900;
}

@media (max-width: 767px) {
    .blog-post-heading {
        padding: 45px 0 0 15px;
    }
}

.blog-post-date{
    font-family: 'Montserrat', serif;
    font-weight: lighter;
    margin-top: 5px;
}

.blog-post-container{
    width: 35%;
    margin: 0 auto;
}

.blog-post-links{
    padding-top: 20px;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.blog-post-prev-link, .blog-post-next-link{
    text-decoration: none;
    color: royalblue;
    font-size: 1rem;
    text-decoration: underline;
    margin-bottom: 20px;
}


.blog-post-text h3{
    font-size: 0.9rem;
    font-weight: bolder;
    margin-top: 45px;
    margin-bottom: 10px;
}



.github-black-link{
    color: black;
}

code {
    color: #333;
    background: #f8f8f8;
}

pre code {
    background: red;
}

@media screen and (max-width: 1400px) and  (min-width: 1024px){
    .blog-post-title{
        width: 60%;
    }

    .blog-post-date {
        width: 60%;
    }

    .blog-post-container{
        width: 60%;
    }
}

@media screen and (max-width: 1024px){
    .blog-post-title{
        font-size: 1.4rem;
        width: 92%;
    }
    
    .blog-post-date{
        width: 92%;
    }


    .blog-post-container{
        text-align: justify;
        // letter-spacing: 0.8px;
        width: 92%;
        line-height: 150%;
    }

    .blog-post-links{
        width: 92%;
    }

}

