 #triangle-right{
     z-index: 999;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 0;
     height: 0;
     border-top: 80px solid transparent;
     border-left: 80px solid #2f429a;
     border-bottom: 80px solid transparent;
 }

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

*{
    margin: 0px;
    padding: 0;
    font-family: Raleway;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 100vh;

}

/*left-pane*/
.left-pane{
    background: #2f429a;
    color: white;
    position: relative;
}


.all-posts{
    text-decoration: none;
    font-weight: 800;
    color: yellow;
}

.social{
    position: absolute;
    padding: 0 25px 10px;
    font-size: 1.2rem;
    bottom: 0;
    right: 0;
}

.social-links{
    font-size: 19px;
    margin: 3px;
}

.container{
    padding: 30px;
    display: flex;
}

.blog-heading{
    padding: 10px 0 10px 0;
}

.blog-title{
    font-weight: bold;
}

.blog-description{
    margin-bottom: 10px;
    font-weight: lighter;
}


.date{
    font-weight: light;
    font-weight: 400;
    color: yellow;
    margin-bottom: 10px;
}


.all-posts{
    margin-top: 40px;
}


.button{
    
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
    font-size: 0.7rem;
}

.button:hover{

}


/* right pane*/
.right-pane{
    position: relative;
}

.centered{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
}

.name{
    color: #2f429a;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.description{
    letter-spacing: 0.2px;
}

.description span{
    color: #2f429a;
}
.contact{
    position: absolute;
    width: 100%;
    bottom: 2%;
    text-align: center;
}

.contact span{
    border-bottom: #2f429a 2px solid;
}


@media screen and (max-width: 768px){
    .left-pane{
        height: 100vh;
        order: 2;
    }
    .right-pane{
        height: 100vh;
        order: 1;
    }

    #triangle-right{
        display: none;
    }

    .grid{
        grid-template-columns: auto;
    }



}

