*{
    margin: 0px;
}

.left-pane{
    padding: 40px;
    background: #2f429a;
    color: white; 
    height: 100vh;
}

.right-pane{
    height: 100vh;
}

.button{
    font-weight: 700;
    color: white;
}



.date{
    font-weight: 400;
    margin-top: -14px;
    color: yellow;
}

 #triangle-right{
     z-index: 999;
     position: absolute;
     top: 50%;
     left: 49%;
     transform: translate(-50%,-50%);
     width: 0;
     height: 0;
     border-top: 70px solid transparent;
     border-left: 70px solid #2f429a;
     border-bottom: 70px solid transparent;
 }

  .all-posts{
     text-decoration: none;
     font-weight: 800;
     color: yellow;
 }

 .social{
    margin-bottom: 0px;
    position: absolute;
    padding: 0 25px 10px;
    font-size: 1.2rem;
    top: 95%;
    left: 40%;
}

.social-links{
    padding-right: 3px;
    font-size: 19px;
    margin: 3px;
}


.contact{
    padding: 5px;
    width: 100%;
    font-size: 1.4rem;
}

.contact span{
    font-weight: 400;
    border-bottom: 3px solid #2f429a;
}

.centered{
    margin-top: 50%;
}

.contact-div{
    margin-top: 55%;
}

.name {
    text-align: left;
    color: #2f429a;
    font-size: 2.1rem;
    font-weight: 700;
  //   margin-bottom: -8px;
  }
  
  .description {
    font-size: 1.7rem;
    text-align: left;
    opacity: 0.9;
  }
  
  .description span {
    color: #2f429a;
  }


@media screen and (max-width: 1000px){
    .social{
        left: 38%;
    }
}

@media screen and (max-width: 768px){
    .left-pane{
        min-width: 100%;
    }
}